<article class="article-container" itemscope itemtype="http://schema.org/Article">
  <div class="article-inner">
    <div class="article">
      <div class="inner">
        <header class="article-header">
          <h1 class="article-title" itemprop="name">Window</h1>
        </header>
        <div class="article-content" itemprop="articleBody">
          <h2 id="组件介绍" class="article-heading">
            <a href="#组件介绍" class="headerlink" title="组件介绍"></a>
            组件介绍
            <a class="article-anchor" href="#组件介绍" aria-hidden="true"></a>
          </h2>
          <p>TalkingUI Window 是一个通用的弹窗组件,支持动态的内容组件，可以拖动、最大最小化、缩放。</p>
          <h2 id="组件示例" class="article-heading">
            <a href="#组件示例" class="headerlink" title="组件示例"></a>
            组件示例
            <a class="article-anchor" href="#组件示例" aria-hidden="true"></a>
          </h2>
          <h3 id="简单窗口" class="article-heading">
            <a href="#简单窗口" class="headerlink" title="简单窗口"></a>
            简单窗口
            <a class="article-anchor" href="#简单窗口" aria-hidden="true"></a>
          </h3>
          <p>
            <input type="button" value="点击弹出窗口" (click)="open1()"><br>
          </p>
          <pre class="sm">
            <code appTkHighlight class="typescript">
              <textarea>
                 const win = new TkWindow()
                        .setHeight(300)
                        .setWidth(600)
                        .setTitle('简单窗口')
                        .setContentComponent(DemolWindowComponent);
                  this.windowService.open(win);
              </textarea>
            </code>
          </pre>
          <h3 id="模式化窗口" class="article-heading">
            <a href="#模式化窗口" class="headerlink" title="模式化窗口"></a>
            模式化窗口
            <a class="article-anchor" href="#模式化窗口" aria-hidden="true"></a>
          </h3>
          <p>
            <input type="button" value="点击弹出模式化窗口" (click)="open2()"><br>
          </p>
          <pre class="sm">
            <code appTkHighlight class="typescript">
              <textarea>
                const win = new TkWindow()
                      .setHeight(300)
                      .setWidth(600)
                      .setTitle('模式化窗口')
                      .setModel(true)
                      .setContentComponent(DemolWindowComponent);
                    this.windowService.open(win);
              </textarea>
            </code>
          </pre>
        </div>
      </div>
    </div>
    <aside id="article-toc" role="navigation">
      <div id="article-toc-inner">
        <strong class="sidebar-title">目录</strong>
        <ol class="toc">
          <li class="toc-item toc-level-2">
            <a class="toc-link" href="#组件介绍" appTkAnchor><span class="toc-text">组件介绍</span></a>
          </li>
          <li class="toc-item toc-level-2">
            <a class="toc-link" href="#组件示例" appTkAnchor><span class="toc-text">组件示例</span></a>
            <ol class="toc-child">
              <li class="toc-item toc-level-3"><a class="toc-link" href="#简单窗口" appTkAnchor><span class="toc-text">简单窗口</span></a></li>
              <li class="toc-item toc-level-3"><a class="toc-link" href="#模式化窗口" appTkAnchor><span class="toc-text">模式化窗口</span></a></li>
            </ol>
          </li>
        </ol>
        <a href="#" id="article-toc-top" appTkAnchor>回到顶部</a>
      </div>
    </aside>
  </div>
</article>
