<app-tk-window [window]="win" (activeWindow)="activeWindow($event)"  *ngFor="let win of getWindows()" (removeWindow)="removeWindow(win)" (minWindow)="minWindow(win)" >
</app-tk-window>

<div  class="tk-window-min-container" >
  <div class="tk-window-min-bar" *ngFor="let win of getMinWindows()">
    <div class="tk-window-min-title-container" (click)="resetWindow(win)" >
      <p class="tk-window-min-title"> {{ win.title ? win.title : '窗口' }}</p>
    </div>
    <div class="tk-window-min-tool-container">
      <div class="tk-window-min-tool-close" (click)="removeWindow(win)"></div>
    </div>
  </div>
</div>
