<article class="article-container" itemscope itemtype="http://schema.org/Article">
  <div class="article-inner">
    <div class="article">
      <div class="inner">
        <header class="article-header">
          <h1 class="article-title" itemprop="name">Anchor</h1>
        </header>
        <div class="article-content" itemprop="articleBody">
          <h2 id="组件介绍" class="article-heading">
            <a href="#组件介绍" class="headerlink" title="组件介绍"></a>
            组件介绍
            <a class="article-anchor" href="#组件介绍" aria-hidden="true"></a>
          </h2>
          <p>TalkingUI Anchor 是提供锚点公共的指令，在使用Angular的环境中，A 链接的锚点功能不能直接使用，在链接上添加 appTkAnchor 属性就可以像在普通的HTML页面中使用锚点功能了</p>
          <h2 id="组件示例" class="article-heading">
            <a href="#组件示例" class="headerlink" title="组件示例"></a>
            组件示例
            <a class="article-anchor" href="#组件示例" aria-hidden="true"></a>
          </h2>
           <div style="height: 2000px">
             <p>点击底部的链接可以滚动到当前锚点</p>
           </div>
          <a href="#组件示例" appTkAnchor >点击显示组件示例锚点</a>
        </div>
      </div>
    </div>
    <aside id="article-toc" role="navigation">
      <div id="article-toc-inner">
        <strong class="sidebar-title">目录</strong>
        <ol class="toc">
          <li class="toc-item toc-level-2">
            <a class="toc-link" href="#组件介绍"><span class="toc-text">组件介绍</span></a>
          </li>
          <li class="toc-item toc-level-2">
            <a class="toc-link" href="#组件示例"><span class="toc-text">组件示例</span></a>
            <ol class="toc-child">
              <li class="toc-item toc-level-3"><a class="toc-link" href="#简单窗口"><span class="toc-text">简单窗口</span></a></li>
            </ol>
          </li>
        </ol>
        <a href="#" id="article-toc-top">回到顶部</a>
      </div>
    </aside>
  </div>
</article>
