<article class="article-container" itemscope itemtype="http://schema.org/Article">
  <div class="article-inner">
    <div class="article">
      <div class="inner">
        <header class="article-header">
          <h1 class="article-title" itemprop="name">Right Menu</h1>
        </header>
        <div class="article-content" itemprop="articleBody">
          <h2 id="组件介绍" class="article-heading">
            <a href="#组件介绍" class="headerlink" title="组件介绍"></a>
            组件介绍
            <a class="article-anchor" href="#组件介绍" aria-hidden="true"></a>
          </h2>
          <p>
            TalkingUI Right Menu 右键菜单组件，可以在任何的元素上生成右键菜单按钮 ，Right Menu 有两种方式生成右键：1、用户可以指定 Component 自定义右键的内容，可以灵活配置右键面板的内容。2、用户可以使用info 属性传入
            右键菜单的名称和触发事件的类型，Right Menu 会自动生成通用的邮件菜单。
          </p>
          <h2 id="组件示例" class="article-heading">
            <a href="#组件示例" class="headerlink" title="组件示例"></a>
            组件示例
            <a class="article-anchor" href="#组件示例" aria-hidden="true"></a>
          </h2>
          <h3 id="自定义右键Component" class="article-heading">
            <a href="#自定义右键Component" class="headerlink" title="自定义右键Component"></a>
              自定义右键Component
            <a class="article-anchor" href="#自定义右键Component" aria-hidden="true"></a>
          </h3>
          <div>
            <p>在Table 行上执行右键操作</p>
            <table width="100%">
              <thead>
              <tr>
                <th>1序号</th>
                <th>姓名</th>
                <th>城市</th>
              </tr>
              </thead>
              <tbody>
              <tr appTkRightMenu (menuClick)="onMenuClick($event ,i)"  [component]="SimpleRightMenuComponent" *ngFor="let d of datas;let i = index">
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td>{{d.city}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <pre class="sm">
              <code class="javascript" appTkHighlight>
                 <textarea>
 export class ProductRightMenuComponent implements OnInit {

  public SimpleRightMenuComponent = SimpleRightMenuComponent;
  public datas = [
    {id: 2 , name: '小A' , city : '北京' },
    {id: 3 , name: '小B' , city : '上海' },
    {id: 4 , name: '小C' , city : '广州' },
    {id: 5 , name: '小D' , city : '深圳' }
  ];
  constructor() { }

  ngOnInit() {
  }

  public onMenuClick(type , index) {
    if (type === 'view') {
      alert('查看');
    } else if (type === 'delete') {
       this.datas.splice(index , 1);
    } else if (type === 'edit') {
      alert('修改');
    }
  }
}
                 </textarea>
              </code>
          </pre>

          <h3 id="使用info属性" class="article-heading">
            <a href="#使用info属性" class="headerlink" title="使用info属性"></a>
              使用info属性
            <a class="article-anchor" href="#使用info属性" aria-hidden="true"></a>
          </h3>
          <div>
            <p>在Table 行上执行右键操作</p>
            <table width="100%">
              <thead>
                  <tr>
                    <th>1序号</th>
                    <th>姓名</th>
                    <th>城市</th>
                  </tr>
              </thead>
              <tbody>
                  <tr appTkRightMenu (menuClick)="onMenuClick1($event ,i)"  [info]="info" *ngFor="let d of datas1;let i = index">
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.city}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <pre class="sm">
              <code class="javascript" appTkHighlight>
                 <textarea>
export class ProductRightMenuComponent implements OnInit {

  public info = [
      {name: '查看' , type: 'view'},
      {name: '删除' , type: 'delete'},
      {name: '修改' , type: 'edit'},
    ];

  public datas1 = [
    {id: 2 , name: '小A' , city : '北京' },
    {id: 3 , name: '小B' , city : '上海' },
    {id: 4 , name: '小C' , city : '广州' },
    {id: 5 , name: '小D' , city : '深圳' }
  ];

  constructor() { }

  ngOnInit() {
  }

  public onMenuClick1(type , index) {
    if (type === 'view') {
      alert('查看');
    } else if (type === 'delete') {
      this.datas1.splice(index , 1);
    } else if (type === 'edit') {
      alert('修改');
    }
  }

}
                 </textarea>
              </code>
          </pre>
        </div>
      </div>
    </div>
    <aside id="article-toc" role="navigation">
      <div id="article-toc-inner">
        <strong class="sidebar-title">目录</strong>
        <ol class="toc">
            <li class="toc-item toc-level-2">
              <a class="toc-link" href="#组件介绍" appTkAnchor><span class="toc-text">组件介绍</span></a>
            </li>
            <li class="toc-item toc-level-2">
              <a class="toc-link" href="#组件示例" appTkAnchor><span class="toc-text">组件示例</span></a>
              <ol class="toc-child">
                <li class="toc-item toc-level-3"><a class="toc-link" href="#自定义右键Component" appTkAnchor><span class="toc-text">自定义右键Component</span></a></li>
                <li class="toc-item toc-level-3"><a class="toc-link" href="#使用info属性" appTkAnchor><span class="toc-text">使用info属性</span></a></li>
              </ol>
            </li>
        </ol>
        <a href="#" id="article-toc-top" appTkAnchor>回到顶部</a>
      </div>
    </aside>
  </div>
</article>
