<article class="article-container" itemscope itemtype="http://schema.org/Article">
  <div class="article-inner">
    <div class="article">
      <div class="inner">
        <header class="article-header">
          <h1 class="article-title" itemprop="name">Right Table</h1>
        </header>
        <div class="article-content" itemprop="articleBody">
          <h2 id="组件介绍" class="article-heading">
            <a href="#组件介绍" class="headerlink" title="组件介绍"></a>
            组件介绍
            <a class="article-anchor" href="#组件介绍" aria-hidden="true"></a>
          </h2>
          <p>TalkingUI Base Table 是一个简易的Table 指令，可以支持Table的排序和查询功能</p>
          <h2 id="组件示例" class="article-heading">
            <a href="#组件示例" class="headerlink" title="组件示例"></a>
            组件示例
            <a class="article-anchor" href="#组件示例" aria-hidden="true"></a>
          </h2>
          <h3 id="简单示例" class="article-heading">
            <a href="#简单示例" class="headerlink" title="简单示例"></a>
            简单示例
            <a class="article-anchor" href="#简单示例" aria-hidden="true"></a>
          </h3>
          <div>
            <span class="float-right form-group">
              搜索：<input type="text" #k (keyup)="key = k.value" style="border: 1px solid #eee;" >
            </span>
            <table width="100%" tkBtable [collection]="datas" [searchPaths]="['name','city']" [keyword]="key">
              <thead>
              <tr>
                <th>序号</th>
                <th tkBtableHeader [path]="'name'" [default]="true" [desc]="false">姓名</th>
                <th tkBtableHeader [path]="'city'"  >城市</th>
              </tr>
              </thead>
              <tbody>
              <ng-container  *ngFor="let d of datas;let i = index">
                  <tr *ngIf="!d.filterd" >
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.city}}</td>
                  </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
          <pre class="sm">
              <code class="javascript" appTkHighlight>
                 <textarea>
 export class ProductBaseTableComponent implements OnInit {

  public key = null;
  public datas = [
    {id: 1 , name: '小A' , city : '北京' },
    {id: 2 , name: '小B' , city : '上海' },
    {id: 3 , name: '小C' , city : '广州' },
    {id: 4 , name: '小D' , city : '深圳' }
  ];
  constructor() { }

  ngOnInit() {
  }

}
                 </textarea>
              </code>
          </pre>
        </div>
      </div>
    </div>
    <aside id="article-toc" role="navigation">
      <div id="article-toc-inner">
        <strong class="sidebar-title">目录</strong>
        <ol class="toc">
          <li class="toc-item toc-level-2">
            <a class="toc-link" href="#组件介绍" appTkAnchor><span class="toc-text">组件介绍</span></a>
          </li>
          <li class="toc-item toc-level-2">
            <a class="toc-link" href="#组件示例" appTkAnchor><span class="toc-text">组件示例</span></a>
          </li>
        </ol>
        <a href="#" id="article-toc-top" appTkAnchor>回到顶部</a>
      </div>
    </aside>
  </div>
</article>

