<ng-content></ng-content>
<div class="tk-resizable-handle tk-resizable-n" (mousedown)="onMousedown($event , 'n')" (mouseup)="onMouseup($event)"  style="z-index: 90;"></div>
<div class="tk-resizable-handle tk-resizable-s" (mousedown)="onMousedown($event , 's')" (mouseup)="onMouseup($event)" style="z-index: 90;"></div>
<div class="tk-resizable-handle tk-resizable-w" (mousedown)="onMousedown($event , 'w')" (mouseup)="onMouseup($event)" style="z-index: 90;"></div>
<div class="tk-resizable-handle tk-resizable-e" (mousedown)="onMousedown($event , 'e')" (mouseup)="onMouseup($event)" style="z-index: 90;"></div>
<div class="tk-resizable-handle tk-resizable-se"(mousedown)="onMousedown($event , 'se')" (mouseup)="onMouseup($event)" style="z-index: 90;"></div>
<div class="tk-resizable-handle tk-resizable-sw"(mousedown)="onMousedown($event , 'sw')" (mouseup)="onMouseup($event)" style="z-index: 90;"></div>
<div class="tk-resizable-handle tk-resizable-nw"(mousedown)="onMousedown($event , 'nw')" (mouseup)="onMouseup($event)" style="z-index: 90;"></div>
<div class="tk-resizable-handle tk-resizable-ne"(mousedown)="onMousedown($event , 'ne')" (mouseup)="onMouseup($event)" style="z-index: 90;"></div>
