 <div id="content" class="wrapper">
    <div id="content-inner">
       <router-outlet></router-outlet>
      <aside id="sidebar" role="navigation">
        <div class="inner">
          <strong class="sidebar-title">基础组件</strong>
          <a [routerLink]="['/product/window']"      [routerLinkActive]="['current']"  class="sidebar-link">Window</a>
          <a [routerLink]="['/product/rightMenu']"   [routerLinkActive]="['current']" class="sidebar-link">RightMenu</a>
          <a [routerLink]="['/product/cover']"       [routerLinkActive]="['current']" class="sidebar-link">Cover</a>
          <a [routerLink]="['/product/alert']"       [routerLinkActive]="['current']" class="sidebar-link">Alert</a>
          <a [routerLink]="['/product/confirm']"     [routerLinkActive]="['current']" class="sidebar-link">Confirm</a>
          <a [routerLink]="['/product/notify']"        [routerLinkActive]="['current']" class="sidebar-link">Notify</a>
          <a [routerLink]="['/product/anchor']"      [routerLinkActive]="['current']" class="sidebar-link">Anchor</a>
          <a [routerLink]="['/product/highlight']"   [routerLinkActive]="['current']" class="sidebar-link">Highlight</a>
          <a [routerLink]="['/product/basetable']"   [routerLinkActive]="['current']" class="sidebar-link">BaseTable</a>
          <a [routerLink]="['/product/basetab']"       [routerLinkActive]="['current']" class="sidebar-link">BaseTab</a>
          <a [routerLink]="['/product/chart']"        [routerLinkActive]="['current']" class="sidebar-link">Chart</a>
          <a [routerLink]="['/product/slider']"        [routerLinkActive]="['current']" class="sidebar-link">Slider</a>
          <a [routerLink]="['/product/date']"        [routerLinkActive]="['current']" class="sidebar-link">Datepicker</a>
        </div>
      </aside>
    </div>
  </div>
