<article class="article-container" itemscope itemtype="http://schema.org/Article">
  <div class="article-inner">
    <div class="article">
      <div class="inner">
        <header class="article-header">
          <h1 class="article-title" itemprop="name">Highlight</h1>
        </header>
        <div class="article-content" itemprop="articleBody">
          <h2 id="组件介绍" class="article-heading">
            <a href="#组件介绍" class="headerlink" title="组件介绍"></a>
            组件介绍
            <a class="article-anchor" href="#组件介绍" aria-hidden="true"></a>
          </h2>
          <p>TalkingUI Highlight 提供代码高亮功能，并且可以使用{{'{'}} Angular的关键字</p>
          <h2 id="组件示例" class="article-heading">
            <a href="#组件示例" class="headerlink" title="组件示例"></a>
            组件示例
            <a class="article-anchor" href="#组件示例" aria-hidden="true"></a>
          </h2>
            <pre class="sm">
              <code appTkHighlight  class='typescript' >
                <textarea>
                   class MyClass {
                        public static myValue: string;
                        constructor(init: string) {
                          this.myValue = init;
                        }
                      }
                      import fs = require("fs");
                      module MyModule {
                        export interface MyInterface extends Other {
                          myProperty: any;
                        }
                      }
                      declare magicNumber number;
                      myArray.forEach(() => { }); // f
                </textarea>
              </code>
            </pre>
        </div>
      </div>
    </div>
    <aside id="article-toc" role="navigation">
      <div id="article-toc-inner">
        <strong class="sidebar-title">目录</strong>
        <ol class="toc">
          <li class="toc-item toc-level-2">
            <a class="toc-link" href="#组件介绍" appTkAnchor><span class="toc-text">组件介绍</span></a>
          </li>
          <li class="toc-item toc-level-2">
            <a class="toc-link" href="#组件示例" appTkAnchor><span class="toc-text">组件示例</span></a>
          </li>
        </ol>
        <a href="#" id="article-toc-top" appTkAnchor>回到顶部</a>
      </div>
    </aside>
  </div>
</article>
